.fil2 {fill:#11994D}
.fil3 {fill:#127058}
.fil10 {fill:#2F7EC4}
.fil1 {fill:#3C63B2}
.fil6 {fill:#4589D4}
.fil0 {fill:#4589D4}
.fil7 {fill:#8A388A}
.fil8 {fill:#FF8E24}
.fil5 {fill:#FF8E24}
.fil4 {fill:#FFC905}
.fil9 {fill:#FFC905}
.fil11 {fill: #FFFFFF}
