@font-face {
  font-family: "Roboto";
  src: url("fonts/RobotoSlab-Thin.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-VariableFont_wght.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


